{% extends "global/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<main class="main-content-container">
  <div class="schedule-appointment-progress">
    <ul id="schedule-appointment-progressbar">
      <li class="active" id="select-services"><strong>Serviços</strong></li>
      <li id="select-date"><strong>Data</strong></li>
      <li id="select-time"><strong>Horário</strong></li>
    </ul>
  </div>
  {% include "schedules/partials/breadcrumb.html" %}
  <div class="title-with-breadcrumb">
    {% include "global/partials/page_title.html" %}
  </div>
  {% include "global/partials/messages.html" %}
  {% include "global/partials/form_messages.html" %}
  <form method="POST" action="{{form_action}}" class="form-container">
    {% crispy form %}
    <div class="form-container">
      {% if is_services_form %}
      <div id="selected-prices">
        <h2>Preço Total :
          <span id="total-price">R$ 0.00</span>
        </h2>
      </div>
      {% else %}
      <hr>
      <div id="schedule-summary">
        {% if request.session.schedule_data.total_price %}
        <p>
          Preço Total: R$ {{ request.session.schedule_data.total_price }}
        </p>
        {% endif %}
        {% if request.session.schedule_data.formatted_date %}
        <p>
          Data Agendada: {{ request.session.schedule_data.formatted_date }}
        </p>
        {% endif %}
      </div>
      {% endif %}
      <button type="submit" class="form-button" title="Agendar">
        <span>{{button_html|safe}}</span>
      </button>
    </div>
  </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script>
  flatpickr('.datetime-input', {
    locale: "pt",
    minDate: "today",
    maxDate: new Date().fp_incr(6),
    disable: [
        function(date) {
            return date.getDay() === 0;
        }
    ],
    dateFormat: "d-m-Y",
  });

  document.addEventListener("DOMContentLoaded", function() {
    const pageAttr = '{{pageAttr}}';
    handleSchedulePages(pageAttr);
  });
</script>
{% endblock content %}
