{% extends "global/base.html" %}
{% load static %}

{% block content %}
<main class="main-content-container">
    {% include "global/partials/page_title.html" %}
    {% include "global/partials/messages.html" %}
    <div class="notifications-container"> 
        <div class="form-container"> 
            <div class="notifications-flex"> 
                {% for notification in notifications  %}
                <div class="notification">
                    <div class="subject-flex"> 
                        {{notification.subject}}
                        <form ation="" method="POST" class="inline-form">
                            <i class="fa-solid fa-circle-xmark text-danger"></i>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
