{% extends "global/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main class="main-content-container">
  <nav aria-label="breadcrumb" class="breadcrumb-container form">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'users:admin_options' %}" title="Opções de Admin">
          Admin
        </a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'cashregister:cashregister' %}"
        title="Caixa">
          Caixa
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'sales:create' %}"
        title="Registrar Venda">
          Registrar Venda
        </a>
      </li>
    </ol>
  </nav>
  <div class="title-with-breadcrumb">
    {% include "global/partials/page_title.html" %}
  </div>
  {% include "global/partials/messages.html" %}
  {% include "global/partials/form_messages.html" %}
  <form method="POST" action="{{form_action}}" class="form-container"
  id="sale-form">
    {% crispy form %}
    <div class="form-container">
      <div id="selected-prices">
        <h2>Preço Total :
          <span id="total-price">R$ 0.00</span>
        </h2>
      </div>
      <button type="submit" class="form-button" title="Registrar">
        <span>Registrar Venda</span>
        <i class="fa-solid fa-dollar-sign"></i>
      </button>
    </div>
  </form>
</main>
{% endblock content %}
