{% extends "global/base.html" %}
{% load static %}

{% block content %}
<main class="main-content-container">
  <div class="admin-options-container">
    {% include "global/partials/page_title.html" %}
    {% include "global/partials/messages.html" %}
    <div class="cards-flex">
      <a href="/admin" target="_blank" class="option-card shadow"
      title="Área Administrativa">
        <div class="option-card-icon">
          <img src="{% static 'global/img/admin_icon.png' %}" alt="">
        </div>
        <div class="option-card-title">
          <h2>Área Administrativa</h2>
          <small>Acesse a área administrativa do site.</small>
        </div>
      </a>
      <a href="{% url 'reports:reports' %}" class="option-card shadow"
      title="Gerar Relatórios">
        <div class="option-card-icon">
          <img src="{% static 'global/img/report_icon.png' %}" alt="">
        </div>
        <div class="option-card-title">
          <h2>Gerar Relatórios</h2>
          <small>Visualize e baixe relatórios personalizados do site.</small>
        </div>
      </a>
      {% if request.user.is_superuser %}
      <a href="{% url 'cashregister:cashregister' %}" class="option-card shadow"
      title="Ver Caixa de Hoje">
        <div class="option-card-icon">
          <img src="{% static 'global/img/cashregister.png' %}" alt="">
        </div>
        <div class="option-card-title">
          <h2>Caixa de Hoje</h2>
          <small>Visualize o Caixa de Hoje.</small>
        </div>
      </a>
      <a href="{% url 'sales:create' %}" class="option-card shadow"
      title="Registrar uma Venda">
        <div class="option-card-icon">
          <img src="{% static 'global/img/money_gain.png' %}" alt="">
        </div>
        <div class="option-card-title">
          <h2>Registrar uma Venda no Caixa</h2>
          <small>Registre uma venda no caixa.</small>
        </div>
      </a>
      <a href="{% url 'cashregister:cashin' %}" class="option-card shadow"
      title="Adicionar Valor ao Caixa">
        <div class="option-card-icon">
          <img src="{% static 'global/img/cash_in.png' %}" alt="">
        </div>
        <div class="option-card-title">
          <h2>Entrada de Caixa</h2>
          <small>Adicione dinheiro ao caixa.</small>
        </div>
      </a>
      <a href="{% url 'cashregister:cashout' %}" class="option-card shadow"
      title="Sangria de Caixa">
        <div class="option-card-icon">
          <img src="{% static 'global/img/money_loss.png' %}" alt="">
        </div>
        <div class="option-card-title">
          <h2>Sangria de Caixa</h2>
          <small>Retire dinheiro do caixa.</small>
        </div>
      </a>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}
