{% extends "global/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<main class="main-content-container">
  {% include "global/partials/page_title.html" %}
  {% include "global/partials/messages.html" %}
  {% include "global/partials/form_messages.html" %}

  {% if request.user.is_authenticated %}
  {% include "global/partials/is_authenticated.html" %}
  {% else %}
  <div class="social-accounts-container">
    <div class="google-login">
      <div class="google-icon">
        <img src="{% static 'global/img/google_icon.png' %}" alt="">
      </div>
      <div class="google-login-text">
        <a href="{% url 'users:google_login' %}?next={% url 'home:home' %}">
          <h2>Entrar com o Google</h2>
        </a>
      </div>
    </div>
  </div>
  <form method="POST" action="{{form_action}}" class="form-container">
    {% crispy form %}
    <button type="submit">
      <span>Login</span>
    </button>
    <div class="login-register-redirect">
      <h3> Novo Usuário?
        <span>
            <a class="default-link" href="{% url 'users:register' %}">Crie uma Conta</a>
        </span>
      </h3>
    </div>
  </form>
  {% endif %}
</main>
{% endblock content %}
