<footer class="text-center text-lg-start text-muted bg-white">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Nos Siga nas Redes Sociais:</span>
    </div>
    <div>
      <a
      data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/p/Vitalize-Centro-Est%C3%A9tico-100030412009774/?_rdr"
        target="_blank"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/mirelavitalize/?igsh=bm0wdjg3dmJudXhi"
        target="_blank"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3 mb-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Vitalize Centro Estético
          </h6>
          <p>• Sua autoestima é prioridade •</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Acesso Rápido
          </h6>
          <p>
            <a href="{% url 'home:products' %}" class="quick-acess-link">
              &#8226; Vitrine
            </a>
          </p>
          <p>
            <a href="#!" class="quick-acess-link">
              &#8226; Agendamentos
            </a>
          </p>
          {% if request.user.is_authenticated %}
          <p>
            <a href="{% url 'users:profile' %}" class="quick-acess-link">
              &#8226; Seu Perfil
            </a>
          </p>
          {% endif %}
          {% if not request.user.is_authenticated %}
          <p>
            <a href="{% url 'users:login' %}" class="quick-acess-link">Entrar</a>
          </p>
          {% endif %}
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Entre em Contato</h6>
          <p><i class="fas fa-location-dot me-3"></i>
          Av. Duque de Caxias, 1138 - Planalto do Bosque, Jaboticabal - SP, 14870-060
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mjbessa2@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>(16) 3202-6992</p>
        </div>
      </div>
    </div>
  </section>
</footer>
