{% if form.errors %}
    <div class="form-container form-content-grid">
        <div class="message-form">
            <div class="message message-error center">
                <div class="message-content">
                    <i class="fa-regular fa-circle-xmark icon-shake"></i>
                    Existem Erros Neste Formulário.
                </div>
                <i class="fa-solid fa-xmark dismiss-flash-message" title="Remover Mensagem"></i>
            </div>
        </div>
    </div>
{% endif %}
