<div class="wrap">
  <div class="nav-container">
    <div class="row justify-content-between">
        <div class="col whatsapp-number">
          <p class="mb-0 phone" title="Whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
            <a href="https://api.whatsapp.com/send/?phone=551632026992&text&type=phone_number&app_absent=0"
            target="_blank">(16) 3202-6992</a>
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="https://www.instagram.com/mirelavitalize/?igsh=bm0wdjg3dmJudXhi"
              target="_blank" class="d-flex align-items-center justify-content-center insta" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://maps.app.goo.gl/B3V6baE1PWmGA1M56"
              target="_blank" class="d-flex align-items-center justify-content-center local" title="Localização">
                <i class="fa-solid fa-location-dot"></i>
              </a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg shadow ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="nav-container">
    <a class="navbar-brand" href="{% url 'products:products' %}" title="Vitalize">
      Vitalize <span>Centro Estético</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav left-0">
        <li class="nav-item">
          <a href="{% url 'products:products' %}" class="nav-link" title="Vitrine">
            <i class="fa-solid fa-box-open"></i>
            Vitrine
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'schedules:schedules' %}" class="nav-link" title="Agendamentos">
            <i class="fa-solid fa-calendar-days"></i>
            Agendamentos
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'users:profile' %}" class="nav-link"
          title="{{request.user.first_name}} {{request.user.last_name}}">
            <i class="fa-solid fa-circle-user"></i>
            {% if request.user.first_name %}
            {{request.user.first_name}}
            {% else %}
            {{request.user}}
            {% endif %}
          </a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a href="{% url 'users:admin_options' %}" class="nav-link" title="Área Administrativa">
            <i class="fa-solid fa-user-tie"></i>
            Admin
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'users:logout' %}" class="nav-link user-logout-link" title="Sair">
            <i class="fa-solid fa-right-from-bracket"></i>
            Sair
            {% include "global/partials/logout_form.html" %}
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'users:login' %}" class="nav-link" title="Entrar">
            <i class="fas fa-user"></i>
            Entrar
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
