<aside class="sidebar">
  <div class="vitalize">
    <h1>Vitalize</h1>
  </div>
  <div class="sidebar-items">
    <div class="item">
      <a href="{% url 'home:home' %}">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </a>
    </div>
    <div class="item">
      <a href="{% url 'users:register' %}">
        <i class="fa-solid fa-user-plus"></i>
        <span>Cadastro</span>
      </a>
    </div>
    <div class="item">
      <a href="{% url 'users:login' %}">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span>Login</span>
      </a>
    </div>
  </div>
</aside>
