{% extends "global/base.html" %}
{% load static %}

{% block content %}
<main class="main-content-container">
  <div class="products-container details">
    <nav aria-label="breadcrumb" class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home:products' %}" title="Vitrine">Vitrine</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'home:product_detail' product.slug %}"
          title="{{product.product_name}}">
            {{product.product_name}}
          </a>
        </li>
      </ol>
    </nav>
    <div class="product-content">
      <div class="product-image">
        <img src="{{product.cover_path.url}}" alt="{{product.product_name}}">
      </div>
      <div class="product-data">
        <h1>{{product.product_name}}</h1>
        <a href="category-url" class="category" title="{{product.product_category}}">
          <p>{{product.product_category}}</p>
        </a>
        <h3>R$ {{product.price}}</h3>
      </div>
    </div>
  </div>
  {% if related_products is not None %}
  <div class="related-products">
    {% include "global/partials/page_title.html" %}
    <div class="owl-carousel owl-theme">
      {% for product in related_products  %}
      {% include "Home/partials/product_card.html" %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</main>

<script src="{% static 'owlcarousel/js/jquery.min.js' %}"></script>
<script src="{% static 'owlcarousel/js/owl.carousel.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      margin: 15,
      responsiveClass:true,
      responsive:{
        0:{
            items:1,
            loop: true,
        },
        700:{
            items:2,
        },
        1000:{
            items:3,
        }
    }
    });
  });
</script>
{% endblock content %}
