{% extends "global/base.html" %}
{% load static %}

{% block content %}
<main class="main-content-container">
  <div class="products-container details">
    <nav aria-label="breadcrumb" class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home:products' %}" title="Vitrine">Vitrine</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'home:product_detail' product.slug %}"
          title="{{product.product_name}}">
            {{product.product_name}}
          </a>
        </li>
      </ol>
    </nav>
    <div class="product-content">
      <div class="product-image" id="product-image">
        <img src="{{product.cover_path.url}}" alt="{{product.product_name}}">
      </div>
      <div class="product-data">
        <h1>{{product.product_name}}</h1>
        {% if product.product_category is not None %}
        <a href="category-url" class="category" title="{{product.product_category}}">
          <p>
            <i class="fa-solid fa-list"></i>
            {{product.product_category}}
          </p>
        </a>
        {% endif %}
        <h3>R$ {{product.price}}</h3>
        <div class="vitalize-location">
          <a href="https://maps.app.goo.gl/B3V6baE1PWmGA1M56"
           target="_blank" class=location-maps>
            <i class="fa-solid fa-location-dot"></i>
            Faça a Compra Deste Produto Conosco
          </a>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.226079583734!2d-48.319105199999996!3d-21.2625167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b96b61fe46a037%3A0x19ffa2bc72deb2b8!2sAv.%20Duque%20de%20Caxias%2C%201138%20-%20Planalto%20do%20Bosque%2C%20Jaboticabal%20-%20SP%2C%2014870-060!5e0!3m2!1spt-BR!2sbr!4v1725385305363!5m2!1spt-BR!2sbr"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  {% if related_products is not None %}
  <div class="related-products">
    {% include "global/partials/page_title.html" %}
    <div class="owl-carousel owl-theme">
      {% for product in related_products  %}
      {% include "Home/partials/product_card.html" %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</main>

<script src="{% static 'owlcarousel/js/jquery.min.js' %}"></script>
<script src="{% static 'owlcarousel/js/owl.carousel.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      margin: 15,
      responsiveClass:true,
      responsive:{
        0:{
            items:1,
            loop: true,
        },
        700:{
            items:2,
        },
        1000:{
            items:3,
        }
    }
    });
  });
</script>
{% endblock content %}
