{% extends "global/base.html" %}

{% block content %}
<main class="main-content-container">
  <div class="products-container">
    {% include "global/partials/page_title.html" %}
    {% include "global/partials/messages.html" %}
    {% include "Products/partials/is_filtered.html" %}
    <div class="products-filter">
      {% include "Products/partials/categories.html" %}
      {% include "global/partials/search.html" %}
    </div>
    {% if products %}
    <div class="products-grid">
      {% for product in products  %}
      {% include "Products/partials/product_card.html" %}
      {% endfor %}
    </div>
    {% else %}
    {% include "global/partials/empty.html" %}
    {% endif %}
    {% include "global/partials/pagination.html" %}
  </div>
</main>
{% endblock content %}
