{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main class="main-content-container">
  <nav aria-label="breadcrumb" class="breadcrumb-container form">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'users:admin_options' %}" title="Opções de Admin">
          Admin
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'cashregister:cashregister' %}"
        title="Caixa de Hoje">
          Caixa de Hoje
        </a>
      </li>
    </ol>
  </nav>
  <div class="title-with-breadcrumb">
    {% include "global/partials/page_title.html" %}
  </div>
  {% include "global/partials/messages.html" %}

  {% if cashregister is None %}
  <div class="form-container">
    <button type="submit" class="form-button cash-register"
      data-bs-toggle="modal" data-bs-target="#open-cashregister"
      title="Abrir Caixa">
      <span>Abrir Caixa</span>
      <i class="fa-solid fa-cash-register"></i>
    </button>
    <a href="{% url 'admin:CashRegister_cashregister_changelist' %}"
    target="_blank">
      <button type="submit" class="form-button cash-register bg-primary"
      title="Ver Caixas">
        <span>Ver Caixas</span>
        <i class="fa-solid fa-eye"></i>
      </button>
    </a>
    {% include "cashregister/partials/modals.html" %}
  </div>
  {% else %}
  {% include "cashregister/partials/sales.html" %}
  {% endif %}
</main>
{% endblock content %}
