/* vars */
:root {
  --color-primary: #fa885f;
  --color-secondary: #16161d;
  --color-accent: #ffa500;
  --color-accent-form-shadow: #ffc9645e;

  --color-white: #ebe4e2;
  --color-white-background: #f5f4f4;
  --clr-dark-background: #333435;
  --color-black: #000;
  --color-dark-text: #444;

  --nav-color-secondary: #252531;
  --nav-border: 1px solid var(--color-gray-0);
  --nav-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-success: #5bc273;
  --color-alert-dark: #927f40;
  --color-warning-dark: #c9a635;
  --color-warning: #f5cf52;
  --color-error-dark: #da525d;
  --color-error-dark-hover: #7a3036;
  --color-error-dark-transparent: #da525d6b;

  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-gray-0: #f3f1f1;
  --color-gray-1: #dfdede;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --color-primary-dark-shadow: #13141f96;

  --spacing-medium: 1.7rem;
  --spacing-large: 3rem;
  --spacing-extra-large: 4rem;

  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white-background);
  font-size: 1.6rem;
  font-family: var(--font-primary);
  color: var(--color-dark-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

footer {
  margin-top: auto;
}

section {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h6 {
  color: var(--color-dark-text);
}

#btn-back-to-top,
#notifications-btn {
  background: var(--color-primary);
  color: var(--color-gray-0);
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 6px 5px 18px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 5px 18px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 5px 18px -6px rgba(0, 0, 0, 0.75);
  padding: 0.4rem 1.2rem;
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  display: none;
  transition: all 150ms ease-in-out;
  z-index: 1;
}

#notifications-btn {
  display: block;
  bottom: 2rem;
  background: var(--color-secondary);
  border-radius: 1rem;
}

.main-content-container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-medium);
}

.content-wrapper {
  margin: 0 auto 2rem auto;
  width: 100%;
}

/* nav adjustments */

.nav-container {
  max-width: 114rem;
  width: 100%;
  padding: 0;
}

p.phone i {
  margin-right: 0.5rem;
}

p.phone i,
div.social-media a i {
  font-size: 2rem;
}

div.collapse.navbar-collapse {
  justify-content: end;
}

div.collapse.navbar-collapse li.nav-item a.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark-text);
}

div.collapse.navbar-collapse li.nav-item a.nav-link:hover {
  color: var(--color-gray-0);
}

div.social-media i {
  color: var(--color-gray-0);
}

div.social-media a {
  transition: filter 150ms ease-in-out;
}

div.social-media a.insta,
div.social-media a.insta:hover {
  color: var(--color-gray-0);
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

div.social-media a.local,
div.social-media a.local:hover {
  background: var(--color-gray-6);
}

div.social-media a:hover,
div.col.whatsapp-number a:hover {
  filter: brightness(70%);
}

div.col.whatsapp-number {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

div.col.whatsapp-number i {
  color: var(--color-success);
}

/* products page */

.products-container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.products-container .page-title-container,
.related-products .page-title-container,
.products-container .messages-container,
.products-container .products-filter {
  max-width: 114rem;
  width: 100%;
}

.products-container .products-filter {
  display: flex;
  gap: 1.5rem;
  margin: 2rem 0 4rem 0;
}

.products-container .products-filter .dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 21rem;
  width: 100%;
  background: var(--color-secondary);
  border-radius: 0.3rem;
}

.dropdown-menu.show {
  max-width: 21rem;
  width: 100%;
}

.search-container {
  width: 100%;
}

.search-form {
  border: 0.2rem solid var(--color-secondary);
  width: 100%;
  border-radius: 0.4rem;
  position: relative;
  transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.search-input {
  width: 100%;
  padding-right: 3rem;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search-button:focus {
  outline: 1px solid var(--color-primary);
  background: rgba(0, 0, 0, 0.05);
}

.search-form:focus-within {
  border-color: var(--color-primary);
  background: #fff;
}

.search-form:focus-within .search-button {
  color: var(--color-primary);
}

.products-container .products-filter .dropdown a {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.7rem;
}

.products-container .products-filter .dropdown a#dropdownMenuLink {
  width: 100%;
  height: 100%;
  color: var(--color-gray-0);
}

.products-container .products-filter .dropdown-item:hover {
  background: var(--color-gray-3);
}

.products-container .products-filter .dropdown-item:active {
  background: var(--color-primary);
}

.products-container .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2.5rem;
}

.card .bg-image {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 28rem;
}

.card .bg-image img {
  transition: all 150ms ease-in-out;
  width: 100%;
  max-height: 32rem;
  height: 100%;
  object-fit: cover;
}

.card .bg-image:hover img {
  transform: scale(1.1);
  filter: grayscale(33%);
}

.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.4rem;
}

.products-flex .card .card-body a.text-reset {
  display: block;
  width: fit-content;
}

a.category {
  color: #212529;
}

a.category:hover {
  color: var(--color-primary);
}

.clean-filters a {
  color: var(--color-error-dark);
}

.clean-filters a:hover {
  color: var(--color-error-dark);
  filter: brightness(70%);
}

/* empty results */

.main-content-error-page {
  max-width: 114rem;
  width: 100%;
  text-align: center;
  margin: 2rem auto 5rem auto;
  font-size: 10rem;
}

.error-message-content h2 {
  font-size: 2.5rem;
  margin-top: var(--spacing-medium);
}

.error-message-content a {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.error-message-content a:hover {
  color: var(--color-primary);
  filter: brightness(70%);
}

/* product detail page */

nav.breadcrumb-container {
  max-width: 114rem;
  width: 100%;
}

nav.breadcrumb-container.form {
  max-width: 64rem;
  margin: 0 auto;
}

nav.breadcrumb-container.form .breadcrumb {
  margin-bottom: 0;
}

nav .breadcrumb {
  margin: 2rem 0;
}

nav .breadcrumb .breadcrumb-item a {
  color: var(--color-dark-text);
}

nav .breadcrumb .breadcrumb-item.active a {
  color: var(--color-primary);
  text-decoration: underline;
}

nav .breadcrumb .breadcrumb-item a:hover {
  filter: brightness(70%);
}

.products-container.details {
  margin: 0 auto;
}

.products-container.details .product-content {
  display: flex;
}

.products-container .product-image {
  max-width: 60rem;
  width: 100%;
  position: relative;
}

.products-container .product-image:hover {
  cursor: none;
}

.products-container .product-image:hover #product-magnifier-glass {
  display: flex;
}

.product-image #product-magnifier-glass {
  position: absolute;
  border: 3px solid var(--color-primary);
  border-radius: 0.3rem;
  width: 10rem;
  height: 10rem;
  display: none;
}

.products-container .product-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  max-width: 54rem;
  width: 100%;
  padding-left: 4rem;
}

.products-container .product-data h1 {
  font-size: 2.6rem;
  font-weight: 500;
}

.products-container .product-data h3 {
  color: var(--color-dark-text);
  font-size: 2.3rem;
}

.products-container .product-data a.location-maps {
  color: var(--color-dark-text);
  margin-bottom: 1rem;
}

.products-container .product-data a.location-maps i {
  color: var(--color-error-dark);
}

.products-container .vitalize-location {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.products-container .vitalize-location iframe {
  width: 100%;
  border: 1px solid var(--color-gray-3);
  flex-grow: 1;
}

.related-products {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.related-products .owl-carousel {
  margin-top: 2rem;
}

.owl-carousel .owl-item img {
  height: 32rem;
}

.owl-carousel .owl-dot.active {
  color: var(--color-primary);
}

.owl-theme .owl-dots .owl-dot span {
  background: var(--color-gray-4) !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: var(--color-primary) !important;
  display: block;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* pagination */

.pagination-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.pagination .page-item {
  padding: 0.2rem 1.2rem;
  font-size: 2rem;
  border: 1px solid var(--color-gray-6);
}

.pagination .page-link {
  text-decoration: none;
  background: var(--color-gray-4);
  color: var(--color-gray-0);
}

.pagination .page-link.page-item {
  transition: all 150ms ease-in-out;
}

.pagination .page-link.page-item:hover {
  filter: brightness(85%);
}

.pagination .page-current {
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.pagination-arrow {
  font-size: 3rem;
  color: var(--color-secondary);
  transition: all 200ms ease-in-out;
}

.pagination-arrow:hover {
  color: var(--color-secondary);
  scale: 1.08;
}

/* footer */

a.quick-acess-link {
  color: #212529bf;
}

a.quick-acess-link:hover {
  color: var(--color-primary);
}

/* pages */

.page-title-container {
  max-width: 64rem;
  margin: 4rem auto 0 auto;
}

.page-title h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--clr-dark-background);
}

.page-title small {
  font-size: 2rem;
  color: var(--color-gray-6);
}

.page-title-container hr {
  opacity: 1;
  color: var(--color-gray-3);
  margin-bottom: 2rem;
}

.title-with-breadcrumb .page-title-container {
  margin-top: 1rem;
}

/* admin options page */

.admin-options-container,
.admin-options-container .page-title-container {
  max-width: 114rem;
  width: 100%;
  margin: 4rem auto 2rem auto;
}

.admin-options-container .cards-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.admin-options-container .option-card {
  display: flex;
  flex-direction: row;
  color: var(--color-dark-text);
  gap: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 0.4rem;
  transition: scale 150ms ease-in-out;
}

.admin-options-container.cash-register {
  margin-top: 2rem;
}

.admin-options-container.notifications {
  margin: 0;
  margin-top: 2rem;
}

.admin-options-container.notifications .option-card {
  background: #cd3e4b;
  background: linear-gradient(90deg, #cd3e4bec 0%, #bd3d49 88%);
  color: var(--color-gray-0);
}

.admin-options-container.cash-register .cards-flex {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  gap: 1.5rem;
}

.admin-options-container.cash-register .option-card {
  padding: 0.5rem;
  border: 1px solid var(--color-gray-1);
}

.admin-options-container .option-card:hover {
  scale: 1.05;
}

.admin-options-container .option-card .option-card-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  margin-left: 1rem;
}

.admin-options-container .option-card .option-card-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.admin-options-container .option-card .option-card-title h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.admin-options-container.cash-register .option-card-title h2 {
  font-size: 1.6rem;
}

.admin-options-container.cash-register .option-card.close-cash-register {
  background: #dc3545;
  background: linear-gradient(90deg, #dc3545 22%, #9f2632 100%);
  color: var(--color-gray-0);
}

.admin-options-container.cash-register .option-card.open-cash-register {
  background: var(--color-success);
  background: linear-gradient(90deg, #5ece78 32%, #41b65c 100%);
}

.admin-options-container .option-card .option-card-title small {
  font-size: 1.2rem;
}

/* forms */

.form-container {
  max-width: 64rem;
  width: 100%;
  margin: 2rem auto;
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: calc(var(--spacing-medium) / 2);
}

.form-container label {
  color: var(--color-gray-7);
}

.form-container input {
  padding: 0.8rem;
  font-size: 1.4rem;
  transition: all 100ms ease-in-out;
}

.form-container input:focus {
  border-color: var(--color-accent);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--color-accent-form-shadow);
}

.form-container p.invalid-feedback,
.form-container p.helptext-p {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

button.form-button {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background: var(--color-primary);
  color: var(--color-gray-0);
  border: none;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms ease-in;
  overflow: hidden;
}

button.form-button.cash-register {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  margin-top: 0;
}

button.form-button.cash-register i {
  margin-left: 0.4rem;
}

button.cash-register.alternate-tables {
  width: 40%;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  margin-top: 0;
  background: var(--color-secondary);
  color: var(--color-gray-0);
  transition: filter 150ms ease-in-out;
}

button.cash-register.alternate-tables:hover {
  filter: brightness(80%);
  background: var(--color-secondary);
}

button.form-button:hover {
  background: var(--color-primary);
  filter: brightness(120%);
}

button.form-button:hover .submit {
  animation: sending 2s infinite;
  animation-fill-mode: forwards;
}

.asteriskField {
  display: none;
}

.input-group-text {
  max-width: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 100ms ease-in-out;
}

.input-group-text i {
  color: var(--clr-dark-background);
  font-size: 1.3rem;
}

.show-password + .input-group-text {
  cursor: pointer;
  margin: 0;
}

.show-password + .input-group-text:hover {
  filter: brightness(80%);
}

.inline-form {
  display: inline;
}

.login-password-field {
  position: relative;
}

#id_password.login-password-field {
  padding-right: 5rem;
}

#show-password-icon {
  padding: 1rem;
  color: var(--color-dark-text);
  position: absolute;
  right: 0.15rem;
  transform: translateY(-50%);
  cursor: pointer;
}

#show-password-icon {
  top: 47%;
}

#show-password-icon:hover {
  background: rgba(68, 68, 68, 0.062);
}

.logout-container {
  max-width: 64rem;
  width: 100%;
  margin: 2rem auto;
}

.logout-container i {
  font-size: 10rem;
  color: var(--color-success);
  margin-bottom: 2rem;
}

.plaintext-button {
  display: inline;
}

.form-with-selectors {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
}

.form-with-selectors .form-selectors {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1.5rem;
}

.form-with-selectors .form-selectors .selector-item {
  background: var(--color-gray-5);
  padding: 0.6rem 0.5rem;
  border-radius: 0.2rem;
  width: 50%;
  cursor: pointer;
}

.form-with-selectors .form-selectors .selector-item:hover {
  filter: brightness(120%);
}

.form-with-selectors .form-selectors .selector-item.active {
  background: var(--color-secondary);
}

.form-with-selectors .form-selectors a.selector-item {
  color: var(--color-gray-0);
  font-size: 1.7rem;
  font-weight: 600;
}

.form-container select {
  width: 100%;
  transition: all 100ms ease-in-out;
  font-size: 1.5rem;
  overflow-x: auto;
}

.form-container select option {
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  font-weight: 500;
  color: var(--color-black);
  font-size: 1.5rem;
}

.form-container select option:hover,
.form-container select option:checked {
  box-shadow: 0 0 10px 100px var(--color-accent) inset;
}

.form-container select:focus {
  border-color: var(--color-accent);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--color-accent-form-shadow);
}

#id_schedule_helptext,
#id_products_helptext,
#id_users_helptext {
  margin-bottom: 1.5rem;
}

#selected-prices {
  margin-top: 1.8rem;
}

#selected-prices h2 {
  font-size: 2.4rem;
}

#selected-prices #total-price span {
  font-weight: 600;
}

#selected-prices.cashout h2,
#selected-prices.cashin h2 {
  font-size: 2rem;
}

#selected-prices #total-price span {
  font-weight: 600;
}

.form-container.report-form {
  max-width: 90rem;
  width: 100%;
}

.form-container .report-form-flex {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
}

.form-container .report-form-flex #div_id_date_initial,
.form-container .report-form-flex #div_id_date_final {
  width: 50%;
}

button.report-form-btn {
  width: 50%;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-gray-0);
  background: var(--color-primary);
  margin-top: 1.5rem;
  transition: all 150ms ease-in-out;
}

button.report-form-btn:hover {
  color: var(--color-gray-0);
  background: var(--color-primary);
  filter: brightness(80%);
}

/* select 2 */

table th.table-counter {
  text-align: center;
}

table td.table-image {
  width: 18rem;
}

table td.table-image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

#selected-products-table,
#selected-services-table {
  margin: 1rem 0 2rem 0;
  border-radius: 0.375rem;
}

#selected-products-table #products-table-body,
#selected-services-table #services-table-body {
  height: 100%;
  vertical-align: middle;
}

#selected-services-table #services-table-body .service-description {
  max-width: 25rem;
}

#selected-products-table td#product-quantity {
  width: 5rem;
}

#selected-products-table td input.quantity-input {
  outline: 0;
  border: 1px solid var(--color-gray-3);
  background: none;
  margin: 0.2rem 0;
  border-radius: 0.4rem;
  width: 100%;
}

#selected-products-table td input.quantity-input:focus {
  border: 1px solid var(--color-primary);
  border-color: var(--color-accent);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--color-accent-form-shadow);
}

.select2.select2-container.select2-container--default {
  max-width: 64rem;
  width: 100% !important;
}

.select2.select2-container.select2-container--default.select2-container--focus.select2-container--below.select2-container--open {
  border-color: var(--color-accent);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--color-accent-form-shadow);
}

.select2-selection.select2-selection--multiple,
.select2-container--default .select2-selection--single {
  font-size: 1.4rem !important;
  padding: 0.3rem !important;
  transition: all 100ms ease-in-out !important;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border: 1px solid #dee2e6 !important;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: 1px solid var(--color-accent) !important;
}

.select2-results__option.select2-results__option--highlighted,
.select2-container--default .select2-results__option:hover {
  background: var(--color-accent) !important;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  color: var(--color-gray-0);
  background-color: var(--color-accent) !important;
}

#div_id_schedule
  .select2-container.select2-container--default.select2-container--open
  .select2-search__field {
  border: 1px solid var(--color-secondary) !important;
}

#div_id_schedule
  .select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #686868 !important;
}

#div_id_schedule .select2-container .select2-selection--single {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  height: 4rem !important;
}

#div_id_schedule
  .select2-container.select2-container--default.select2-container--open {
  border: 1px solid var(--color-accent) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem var(--color-accent-form-shadow) !important;
  border-radius: 0.4rem;
}

#div_id_schedule .select2-selection__arrow {
  height: 100% !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 0.2rem !important;
}

.select2-container--default
  .select2-search--dropdown
  .select2-search__field:focus-visible {
  border: 1px solid var(--color-gray-6) !important;
  outline: none !important;
}

/* notifications */

.notifications-container .notifications-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.notifications-container .notifications-flex .notification {
  max-width: 64rem;
  width: 100%;
  max-height: fit-content;
  height: 100%;
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 6px 5px 18px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 6px 5px 18px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 5px 18px -6px rgba(0, 0, 0, 0.2);
}

.notification {
  padding: 0.7rem 1rem;
}

.notification .subject-flex {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification .subject-flex h3 {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 1rem 0 0;
}

.notification .text p {
  text-wrap: wrap;
}

.notification .subject-flex form {
  cursor: pointer;
}

/* forgot password */

.forgot-password-content {
  margin: 0.5rem 0.3rem 0.5rem 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.forgot-password-content a#forgot-password {
  color: var(--color-dark-text);
  font-size: 1.3rem;
}

/* social login */

.social-accounts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 64rem;
  margin: 0 auto;
}

.social-accounts-container a {
  width: 100%;
}

.social-accounts-container .google-login {
  max-width: 64rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 5rem;
  background: #fff;
  border: 1px solid #4285f4;
  cursor: pointer;
  border-radius: 0.2rem;
}

.social-accounts-container .google-login:hover {
  box-shadow: 0 0 0 0.25rem #4286f454;
}

.google-login .google-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 100%;
}

.google-login .google-icon img {
  width: 3rem;
}

.google-login .google-login-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #4285f4;
}

.google-login .google-login-text h2 {
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
  padding: 1rem;
}

.login-register-redirect {
  margin-top: 2.5rem;
  text-align: center;
}

.login-register-redirect h3 {
  font-size: 1.5rem;
}

.login-register-redirect i {
  font-size: 10rem;
}

a.default-link {
  color: var(--color-primary);
}

a.default-link:hover {
  color: var(--color-primary);
  filter: brightness(85%);
}

button.google-callback-btn {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}

button.google-callback-btn h2 {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* messages */

.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-medium) / 2);
  max-width: 64rem;
  margin: 2rem auto;
  --bs-gutter-x: 0;
}

.admin-options-container .messages-container {
  max-width: 100%;
}

.message-form {
  margin: 0 auto;
  width: 100%;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-1);
  color: var(--color-dark-text);
  font-size: 1.8rem;
  text-align: left;
}

.message-top-bottom-margin {
  margin: 1rem 0 1rem 0;
}

.dismiss-flash-message {
  transition: all 200ms ease-in-out;
  order: 2;
}

.dismiss-flash-message:hover {
  cursor: pointer;
  scale: 1.2;
}

.message-error {
  border: 1px solid #f10606cf;
  background: #dc110129;
  box-shadow: 0px 0px 2px #ff0303;
  color: #dc3545;
}

.message-success {
  border: 1px solid #24f10675;
  background: #0795421f;
  box-shadow: 0px 0px 2px #259c08;
  color: #3fa73d;
}

.message-warning {
  border: 1px solid #f18e06cf;
  background: #dc800129;
  box-shadow: 0px 0px 2px #ffb103;
  color: #ffb103;
  transition: 0.5s;
}

.message-info {
  border: 1px solid #062cf175;
  background: #0749951f;
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
}

.message-content i {
  font-size: 2rem;
}

.icon-shake {
  margin-right: 0.5rem;
}

.login-message {
  padding-top: 0;
  margin-bottom: 0.6rem;
}

.login-message h3,
.login-message a {
  font-size: 1.6rem;
}

/* cash register */

.form-container.cash-register,
.breadcrumb-container.form.cashregister,
.title-with-breadcrumb.cashregister .page-title-container,
.main-content-container.cashregister .messages-container,
.messages-custom-width .form-container,
.messages-custom-width .messages-container {
  max-width: 90rem;
  width: 100%;
}

.cashregister-widgets {
  margin-top: 1.5rem;
}

.cashregister-widgets i {
  font-size: 2.2rem;
}

.clock,
.cash {
  font-size: 2.2rem;
  font-weight: 600;
}

#open-cashregister .modal-footer button,
#close-cashregister .modal-footer button,
#remove-notifications .modal-footer button,
.cancel-sale .modal-footer button {
  font-size: 1.6rem;
  color: var(--color-gray-0);
}

.cash-register .pagination-content {
  margin-top: 0;
}

.cash-register .pagination-content .page-item {
  padding: 0.3rem 0.8rem;
  font-size: 1.6rem;
}

.cash-register .flex-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cash-register .flex-content .column-flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.cash-register .sales-filter .dropdown a {
  font-size: 1.5rem;
}

.sales-filter .dropdown-item:hover {
  background: var(--color-gray-3);
}

.column-flex .clean-filters {
  font-size: 1.3rem;
}

.cash-register-actions-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.btn.bg-danger.cancel,
.btn.show-schedule,
.btn.new-schedule {
  font-size: 1.3rem;
  color: var(--color-gray-0);
  text-transform: uppercase;
  font-weight: 700;
}

/* schedules */

.schedules-container,
.schedules-container .page-title-container {
  max-width: 90rem;
  width: 100%;
  margin: 4rem auto 1.5rem auto;
}

.btn.new-schedule {
  margin-bottom: 1.5rem;
}

.schedules-container .pagination-content {
  margin-top: 1rem;
}

.btn.btn-bg-primary.show-schedule {
  color: var(--color-dark-text);
}

.modal-body .services-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  gap: 1.5rem;
}

.services-grid .card {
  width: 22rem;
}

/* utils */

.btn-bg-primary {
  background: var(--color-primary);
  transition: filter 150ms ease-in-out;
}

.btn-bg-primary:hover {
  background: var(--color-primary);
  filter: brightness(80%);
}

.btn.bg-success {
  background: var(--color-success);
  background: linear-gradient(90deg, #5ece78 32%, #41b65c 100%);
  transition: filter 150ms ease-in-out;
}

.btn.bg-danger {
  background: #dc3545;
  background: linear-gradient(90deg, #dc3545 22%, #9f2632 100%);
  transition: filter 150ms ease-in-out;
}

.btn.bg-success:hover {
  background: linear-gradient(90deg, #52b96a 32%, #3fb35a 100%);
}

.btn.bg-danger:hover {
  background: linear-gradient(
    90deg,
    rgb(160, 46, 56) 32%,
    rgb(114, 26, 33) 100%
  );
}

.btn.btn-secondary {
  background: #6c757d;
  background: linear-gradient(90deg, #6c757d 32%, #545e66 100%);
}

.plaintext-button.user-logout-link {
  color: var(--color-primary);
}

.plaintext-button.user-logout-link:hover {
  color: var(--color-primary);
  filter: brightness(85%);
}

.plaintext-button.link-danger {
  background: none;
  outline: none;
  border: none;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-underline {
  text-decoration: underline;
}

.span-2 {
  grid-column: span 2;
  font-size: 1.33rem;
}

.invisible {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.pb-0 {
  padding-bottom: 0;
}

.m-1 {
  margin: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-03 {
  margin-right: 0.3rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.gray-0 {
  color: var(--color-gray-0);
}

.gray-3 {
  color: var(--color-gray-3);
}

.gray-4 {
  color: var(--color-gray-4);
}

.add-icon {
  color: var(--color-success);
  margin: 0.5rem 0 0 0.2rem;
}

.add-icon:hover {
  color: var(--color-success);
  filter: brightness(80%);
}

.no-button {
  background: none;
  outline: none;
  border: none;
}

/* keyframes */

.fade-in {
  animation: FadeIn 0.5s ease-in;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes messageFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@keyframes sending {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translate(40px, -60px);
  }
  60%,
  100% {
    transform: translateY(0);
  }
}

.hide-message {
  animation: messageFadeOut 0.5s ease-in-out;
}

@keyframes shakeIcon {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-shake {
  animation: shakeIcon 1s infinite;
}

/* @medias */

@media (max-width: 1200px) {
  .content-wrapper {
    max-width: 96rem;
  }

  nav .breadcrumb {
    margin: 2rem auto;
  }
}

@media (max-width: 991px) {
  #ftco-nav {
    margin-top: 1rem;
  }

  .nav-container,
  #ftco-nav a.nav-link {
    padding-left: 1rem;
  }

  .content-wrapper {
    max-width: 72rem;
  }

  .products-container.details .product-content {
    display: block;
    margin: 0 auto;
  }

  .products-container.details .product-image {
    max-width: 90rem;
  }

  .products-container.details .product-data {
    max-width: 90rem;
    padding: 2rem 0;
    gap: 0.5rem;
  }

  .products-container .vitalize-location iframe {
    height: 30rem;
  }

  .related-products .page-title-container {
    margin-top: 1rem;
  }

  .admin-options-container .cards-flex {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  .content-wrapper {
    max-width: 54rem;
  }
}

@media (max-width: 700px) {
  .btn-google-signin.profile {
    width: 84%;
  }

  .products-grid .card .bg-image img {
    max-height: none;
  }
}

@media (max-width: 600px) {
  #menu-hamburguer {
    display: block;
  }

  .sidebar,
  #close-menu {
    display: none;
  }

  .products-container .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: calc(var(--spacing-medium) / 2);
    align-items: center;
    justify-content: center;
  }

  .forgot-password-content {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }

  .form-image {
    padding: 1rem 0 0 0;
  }

  .cash-register-actions-flex {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-container .report-form-flex {
    display: block;
  }

  .form-container .report-form-flex #div_id_date_initial,
  .form-container .report-form-flex #div_id_date_final {
    width: 100%;
  }

  button.report-form-btn {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .nav-container {
    padding: 0 1.5rem;
  }

  button.cash-register.alternate-tables {
    width: 60%;
  }
}

@media (max-width: 486px) {
  .modal-body {
    text-align: center;
  }

  .modal-body .services-grid {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .products-container .products-filter {
    display: block;
  }

  .products-container .products-filter .dropdown,
  .dropdown-menu.show {
    max-width: 100%;
  }

  .products-container .products-filter .search-container {
    margin-top: 1rem;
  }

  button.cash-register.alternate-tables {
    width: 100%;
  }
}
