/* vars */
:root {
  --color-primary: #fa885f;
  --color-secondary: #16161d;
  --color-accent: #ffa500;

  --color-white: #ebe4e2;
  --color-white-background: #f5f4f4;
  --clr-dark-background: #333435;
  --color-black: #000;
  --color-dark-text: #444;

  --nav-color-secondary: #252531;
  --nav-border: 1px solid var(--color-gray-0);
  --nav-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-success: #5bc273;
  --color-alert-dark: #927f40;
  --color-warning-dark: #c9a635;
  --color-warning: #f5cf52;
  --color-error-dark: #da525d;
  --color-error-dark-hover: #7a3036;
  --color-error-dark-transparent: #da525d6b;

  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-gray-0: #f3f1f1;
  --color-gray-1: #dfdede;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --color-primary-dark-shadow: #13141f96;

  --spacing-medium: 1.7rem;
  --spacing-large: 3rem;
  --spacing-extra-large: 4rem;

  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white-background);
  font-size: 1.6rem;
  font-family: var(--font-primary);
  color: var(--color-dark-text);
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--spacing-medium);
}

/* nav adjustments */

p.phone i {
  margin-right: 0.5rem;
}

p.phone i,
div.social-media a i {
  font-size: 1.8rem;
}

div.collapse.navbar-collapse {
  justify-content: end;
}

div.collapse.navbar-collapse li.nav-item a.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark-text);
}

div.social-media i {
  color: var(--color-accent);
}

div.social-media a:hover i {
  color: var(--color-gray-0);
}

/* pages */

.page-title-container {
  max-width: 64rem;
  margin: 4rem auto;
}

.page-title h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--color-dark-text);
}

.page-title small {
  font-size: 2rem;
  color: var(--color-gray-6);
}

/* forms */

.main-form {
  padding-top: 0;
}

.form-content {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: var(--spacing-medium);
}

.form-content label,
.form-content .help_text,
.errorlist {
  display: block;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  list-style: none;
}

.form-content label {
  margin-bottom: 0.5rem;
}

.help-text {
  padding: 0.4rem 0 0 0;
  font-size: 1.4rem;
}

.helptext-p {
  font-size: 1.4rem;
  margin: 0;
}

.errorlist li {
  padding: 0.3rem;
  font-size: 1.4rem;
}

.errorlist {
  color: var(--color-error-dark);
}

.form-content input,
.form-content textarea,
.form-content select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-gray-3);
  transition: all 100ms ease-in-out;
}

.form-content textarea {
  resize: none;
}

select {
  height: 15rem;
}

select:focus {
  border: 1px solid var(--color-accent);
}

select option {
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  font-weight: 500;
  color: var(--color-black);
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: calc(var(--spacing-medium) / 2);
}

.form-image {
  margin: 0 auto;
  padding: 1rem;
}

.form-content button {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 2.5rem;
  background: var(--color-primary);
  color: var(--color-gray-0);
  border: none;
  border-radius: 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms linear;
  z-index: 1;
  overflow: hidden;
}

.form-content button::before {
  content: '';
  position: absolute;
  border-radius: 0.3rem;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: var(--color-accent);
  z-index: -1;
  transition: 200ms linear;
}

.form-content button:hover::before {
  width: 100%;
  left: 0;
}

.form-content button:hover {
  color: var(--color-dark-text);
}

.inline-form {
  display: inline;
}

.login-password-field {
  position: relative;
}

#id_profile_picture:hover {
  cursor: pointer;
}

#id_password.login-password-field {
  padding-right: 5rem;
}

#show-password-icon {
  padding: 1rem;
  color: var(--color-dark-text);
  position: absolute;
  right: 0.15rem;
  transform: translateY(-50%);
  cursor: pointer;
}

#show-password-icon {
  top: 47%;
}

#show-password-icon:hover {
  background: rgba(68, 68, 68, 0.062);
}

/* forgot password */

.forgot-password-content {
  margin: 0.5rem 0.3rem 0.5rem 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.forgot-password-content a#forgot-password {
  color: var(--color-dark-text);
  font-size: 1.3rem;
}

/* utils */

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.span-2 {
  margin-top: 0.5rem;
  grid-column: span 2;
  font-size: 1.33rem;
}

.invisible {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.pb-0 {
  padding-bottom: 0;
}

.m-1 {
  margin: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-03 {
  margin-right: 0.3rem;
}

.gray-0 {
  color: var(--color-gray-0);
}

.gray-3 {
  color: var(--color-gray-3);
}

.gray-4 {
  color: var(--color-gray-4);
}

/* keyframes */

.fade-in {
  animation: FadeIn 0.5s ease-in;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* @medias */

@media (max-width: 600px) {
  #menu-hamburguer {
    display: block;
  }

  .sidebar,
  #close-menu {
    display: none;
  }

  .form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: calc(var(--spacing-gutter-medium) / 2);
    align-items: center;
    justify-content: center;
  }

  .forgot-password-content {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }

  .form-content {
    display: block;
    padding: 0;
    width: 100%;
  }

  .form-group {
    margin-top: 1rem;
  }

  .form-image {
    padding: 1rem 0 0 0;
  }

  .help-text {
    font-size: 1.4rem;
    width: 100%;
    text-align: left;
  }

  .errorlist li {
    margin-bottom: 0.3rem;
  }

  .main-content-error-page {
    margin: 0 auto;
  }
}
