{% load humanize %}

<div class="form-container cash-register">
  {% include "cashregister/partials/sales_table.html" %}

  <div class="cashregister-widgets">
    <div class="cashregister-cash">
      <i class="fa-solid fa-cash-register"></i>
      <span class="cash">R$ {{cashregister.cash}}</span>
    </div>
    <div class="clock-container">
      <i class="fa-regular fa-clock"></i>
      <span class="clock" id="clock"></span>
    </div>
  </div>

  <a href="{% url 'sales:create' %}" title="Nova Venda">
    <button type="button" class="form-button cash-register bg-primary">
      <span>Nova Venda <i class="fa-solid fa-plus"></i></span>
    </button>
  </a>

  <a href="#" title="Sangria de Caixa">
    <button type="button" class="form-button cash-register bg-secondary">
      <span>
        Sangria de Caixa <i class="fa-solid fa-hand-holding-dollar"></i>
      </span>
    </button>
  </a>

  <button type="button" class="form-button cash-register bg-danger"
  data-bs-toggle="modal" data-bs-target="#close-cashregister"
  title="Fechar Caixa">
    <span>Fechar Caixa <i class="fa-solid fa-ban"></i></span>
  </button>
  {% include "cashregister/partials/modals.html" %}
</div>
