<div class="modal fade" id="cancel-schedule"
data-bs-keyboard="true" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="staticBackdropLabel">
          Cancelar Agendamento
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body cancel-schedule">
        <a href="https://api.whatsapp.com/send/?phone=551632026992&text&type=phone_number&app_absent=0"
        target="_blank" class="text-center">
          <i class="fa-brands fa-whatsapp"></i>
          <h1>(16) 3202-6992</h1>
        </a>
        <h2>
          Entre em Contato via <u>Whatsapp</u> para Cancelar seu Agendamento.
          Lembre-se de Informar o Número (ID) do mesmo.
        </h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
