<div class="table-responsive">
  <a href="{% url 'schedules:create' %}"
  class="btn btn-bg-primary schedule-btn"
  title="Novo Agendamento">
    <i class="fa-regular fa-calendar-plus"></i>
    Novo Agendamento
  </a>
  <button class="btn btn bg-danger schedule-btn" title="Cancelar Agendamento"
    data-bs-toggle="modal" data-bs-target="#cancel-schedule">
    <i class="fa-regular fa-calendar-xmark"></i>
    Cancelar Agendamento
  </button>
  {% include "schedules/partials/cancel_schedule.html" %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Agendamento ID</th>
        <th scope="col">Nº Serviços</th>
        <th scope="col">Data</th>
        <th scope="col">Horário</th>
        <th scope="col">Status</th>
        <th scope="col">Preço Total</th>
        <th scope="col">Detalhes</th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedules  %}
      <tr>
        <td>Nº {{schedule.pk}}</td>
        <td>
          {{schedule.services.all|length}}
          {% if schedule.services.all|length == 1 %}
          Serviço
          {% else %}
          Serviços
          {% endif %}
        </td>
        <td>
          {% if schedule.schedule_date %}
          {{schedule.schedule_date}}
          {% else %}
          -
          {% endif %}
        </td>
        <td>
          {% if schedule.schedule_time.time %}
          {{schedule.schedule_time.time}}
          {% else %}
          {{schedule.created_at|date:"H:i"}}
          {% endif %}
        </td>
        <td>
          {% if schedule.canceled %}
          <span class="text-danger">
            <i class="fa-regular fa-calendar-xmark"></i>
            <b>Cancelado</b>
          </span>
          {% else %}
          {% if schedule.status %}
          <span class="text-primary">
            <i class="fa-regular fa-calendar"></i>
            <b>Agendado</b>
          </span>
          {% else %}
          <span class="text-success">
            <i class="fa-solid fa-calendar-check"></i>
            <b>Finalizado</b>
          </span>
          {% endif %}
          {% endif %}
        </td>
        <td>R$ {{schedule.total_price}}</td>
        <td>
          <button class="btn bg-secondary show-schedule" title="Ver Agendamento"
          data-bs-toggle="modal" data-bs-target="#show-schedule-{{schedule.pk}}">
            Detalhes <i class="fa-solid fa-magnifying-glass-plus"></i>
          </button>
          {% include "schedules/partials/show_schedule.html" %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include "global/partials/pagination.html" %}
